.faq-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.faq-item {
    margin-bottom: 15px;
}

.faq-question {
    background-color: #f7f7f7;
    color: #000000;
    border: none;
    padding: 15px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-question:hover {
    background-color: #e7e7e7;
}

.faq-answer {
    background-color: #ffffff;
    color: #000000;
    padding: 15px;
    border: 1px solid #e7e7e7;
}

.arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transition: transform 0.3s;
}

.arrow.down {
    transform: rotate(45deg);
}

.arrow.up {
    transform: rotate(-135deg);
}