.App {
  text-align: center;
  background-color: white;

}

/* Override FloatingWhatsApp default styles */
.floating-whatsapp {
  z-index: 1000;
  /* Ensure it stays on top of other elements */
  padding-bottom: 50px;
}

/* Default position for larger screens */
.floating-whatsapp .whatsapp-float {
  padding-bottom: 50px;
  /* Default bottom position */
  right: 20px;
}

@media screen and (max-width: 767px) {
  .floating-whatsapp .whatsapp-float {
    bottom: 50px;
    right: 15px;
  }

  /* This part was incorrectly nested */
  .floating-whatsapp {
    z-index: 1000;
    padding-bottom: 50px;
  }
}


